<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>

  {% if page.collection == 'playground' %}
  <link rel="stylesheet" href="{{ page.url }}.css">
  {% endif %}

</head>
<body id="body">

  {{ content }}


  {% if page.collection == 'playground' %}
  <script src="{{ page.url }}.js"></script>
  {% endif %}

</body>
</html>